@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.container_header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.background {
    background: #F8F3F4;;
    height: 148px;
  }
  .newArrivals .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 59px;
}
h1 {
margin: 0%;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}
.newArrivals nav a {
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
}
.newArrivals nav a:last-of-type {
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #f16d7f;
}
.filters .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.filtersRight {
    display: flex;
    flex-direction: row;
    margin-right: 448px;
    font-size: 14px;
line-height: 16px;
color: rgb(111, 110, 110);
}

.filterTrending {
    padding-right: 27px;
}
.filterSize {
    padding-right: 27px;
}
.filtersRight img {
    padding-left: 10px;
}
.filtersLeft img {
    padding-left: 11px;
}
.filtersLeft {
    padding-left: 16px;
}
.filters {
margin-top: 51px;
margin-bottom: 65px;
}
.filtersLeft span {
display: inline;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: rgb(0, 0, 0);
}

.block_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
}

.logo {
    padding-right: 41px;
}
.block_2 {
    display: flex;
    align-items: center;
    padding-right: 140px;
}
.person {
    padding-left: 33px;
    padding-right: 33px;
}

.wrapper_2 {
    display: inline-block;
    position: relative;
}
.wrapper {
    display: inline-block;
}
.ellipse {
    position: absolute;
    top: -4px;
    right: -8px;
}
.text {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: end;
color: #FFFFFF;
position: absolute;
top: -13px;
right: 0px;
}

.container {  
    max-width: 1140px; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 608px 608px;
    grid-gap: 30px;
    align-items: center;
}

.cardBlock {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
.cardTitle {
padding-bottom: 12px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;

}
.cardText {
padding-bottom: 18px;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;

}
.cardPrice {
padding-bottom: 20px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
}
.card_1 {
    background: #F8F8F8;
}

.card_1_1 {
    background: #F8F8F8;
}

.pagination {
    width: 284px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 13px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
.pagination a {
text-decoration: none;
font-weight: 300;
font-size: 16px;
color: rgb(196, 196, 196);
}

.services {
background: #222224;
padding-top: 103px;
padding-bottom: 103px;
padding-left: 14px;
padding-right: 14px;
}
.services .container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 90px;
}
.iconTitle {
font-style: normal;
font-weight: 400;
font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
padding-bottom: 16px;
}
.iconText {
font-style: normal;
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
}
.block_icons {
    text-align: center;
}

.icon {
    padding-bottom: 28px;
}


.blockIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.copyRightText {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FBFBFB;
}
.icon_2 {
    padding-left: 7px;
    padding-right: 7px;
}
.icon_4 {
    padding-left: 7px;
}
.subscribe {
    background: url(img/pic.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 156px;
    
}
.subscribe .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;

}
.subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeUserText {
font-style: normal;
font-weight: 400;
text-align: center;
margin-top: 30px;
font-size: 18px;
line-height: 22px;
color: rgb(34, 34, 36);
max-width: 330px;
}

.subscribeRight {
display: flex;
flex-direction: column;
align-items: center;
}

.subscribeTitle {
font-style: normal;
font-weight: 700;
font-size: 24px;
color: rgb(34, 34, 36);
line-height: 40px;
}
.subscribeText {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #222224;
margin-bottom: 32px;
}
.subscribeForm {
    height: 47px;
}
.subscribeForm input {
font-style: normal;
height: inherit;
background: rgb(225, 225, 225) none repeat scroll 0% 0%;
border: medium none;
padding: 6px 21px;
box-sizing: border-box;
border-top-left-radius: 28px;
border-bottom-left-radius: 28px;
float: left;
width: 185px;
}
.subscribeForm button {
font-style: normal;
height: inherit;
border: medium none;
color: white;
font-family: inherit;
font-size: 14px;
line-height: 17px;
background: rgb(241, 109, 127) none repeat scroll 0% 0%;
border-top-right-radius: 28px;
border-bottom-right-radius: 28px;
padding: 0px 17px;
}
.fa-facebook-f::before {
    content:url(img/icon_f.svg);
}
.fa-instagram-i::before {
    content:url(img/icon_insta.svg);
}
.fa-pinterest-p::before {
    content:url(img/icon_pinterest.svg);
}
.fa-twitter-t::before {
    content:url(img/icon_twiter.svg);
}
.footerContacts {
    height: 79px;
}
.footerContacts {
    background: black;
}
.footerContacts .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-left: 235px;
    padding-right: 237px;
}
.footerRights {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FBFBFB;

}


@media (max-width: 1024px) {
    .container_header {
        max-width: 1024px;
    }

    .filters {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .filtersLeft {
        padding-left: 0px;
    }
    
    .filtersRight {
        margin-right:  0px;
    }
    .block_1 {
        padding-left: 32px;
    
    }
    .block_2 {
        padding-right: 32px;
    }
   
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;
    }
    .cardImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card_1_1 {
        display: none;
    }

    .footerBlock_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 610px;
        padding-top: 48px;
    padding-bottom: 48px;
} 
.block_icons {
        padding-right: 0px;
        max-width: 340px;
    }
.services {
    height: 610px;
 padding-top: 48px;
padding-bottom: 64px;
}
.services .container {
grid-template-columns: none;
gap: 48px;

}
.subscribe .container {
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribeRight {
    padding-top: 48px;
}
.subscribe {
    padding-bottom: 140px;
}
.footerContacts .container {
    padding-left: 32px;
    padding-right: 32px;
}
}

@media (max-width: 667px) {
    .container_header {
        max-width: 667px;
    }

    .newArrivals .container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    }
h1 {
    padding-bottom: 32px;
}
.filtersLeft  span {
    display: none;
}
.filtersLeft img {
width: 37px;
height: 25px;

}
.filtersRight {
    font-size: 12px;
    line-height: 14px;
}
.filterSize {
    padding-right: 23px;
}
.filterTrending {
    padding-right: 23px;
}

    .person {
        display: none;
    }
    .wrapper_2 {
        display: none;
    }
    .block_1 {
        padding-left: 16px;
    }
    .block_2 {
        padding-right: 16px;
    }
    .foto {
        display: none;
    }
      .cards {
          grid-template-columns: 1fr;
      }
     
      .button {
          margin-top: 41px;
      }
      .footerBlock_1 {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 44px;
      }
 .footerContacts .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
 }
 .footerLeft {
    padding-bottom: 40px;
 }
 .footerContacts {
    height: 143px;
 }
  
    }
